{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
<body class="text-center">    
    <main class="form-signin">
        {{ user.get_username }}<br /><br />
        {% for item in model%}
            {{ item.categories }}<br /><br />
            {{ item.text }}
            <p><a href="{% url 'post_edit' item.pk %}">{{ item.pk }}</a></p>
        {% endfor %}
    </main>    
</body>
{% endblock content %}