{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
<body class="text-center">
    <main class="form-signin">
        {{ user.get_username }}
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p> カテゴリ：{{ form.categories }} </p>
            {{ form.text }}
            <input type="hidden" name='user' value='{{ user.pk }}'>
            {{ form.pk }}
            <input type="submit" value='edit'>
        </form>
        {% include 'post_delete.html' %}
    </main>    
</body>
{% endblock content %}