{% extends 'templates/base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'static/css/style.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
<body class="text-center">
    <main class="form-signin">
        {{ user.get_username }}
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="card bg-light mb-30-1 mx-auto " style="max-width: 468px;">
            <input type="hidden" name='user' value='{{ user.pk }}'>
            <input type="hidden" name='post_id' value='{{ form.pk }}'>
            <div class="card-header-create">{{ form.categories }}{{ form.pk }}</div>
            <div class="card-body-create">
                <p class="card-text">{{ form.text }}</p>
                <input type="submit" value='edit'><br /><br />
            </div>
            </div>
        </form>
        <form action="{% url 'post_delete' pk=form.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value='削除'>
        </form>
    </main>    
</body>
{% endblock content %}