{% extends 'templates/base.html' %}
<body>
    {% block content %}
    <div class="post_margin">
    {% for items in post_list %}
        {% for item in items %}
        <div class="card bg-light mb-30 mx-auto " style="max-width: 468px;">
            <div class="image_username">   
                <div class="card-header">{{ item.categories }}</div>
                {% if item.user.id != user.id %}
                <!-- <img class="image_" src="https://i.imgur.com/wvxPV9S.png" height="60" width="60" /> -->
                <a class="user_a_tag" href="{% url 'user_detail' pk=item.user.id %}"><img class="image_" src="https://i.imgur.com/wvxPV9S.png" height="60" width="60" />{{ item.user.username }}</a>
                {% else %}
                <a class="user_a_tag"  href="{% url 'my_page' pk=item.user.id %}"><img class="image_" src="https://i.imgur.com/wvxPV9S.png" height="60" width="60" />{{ item.user.username }}</a>
                {% endif %}
            </div>
                <div class="card_body">
                    <p class="card-text">{{ item.text }} {% include 'templates/like.html' %}</p>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        <div class="recome_container">
            <h5>おすすめユーザー</h5>
        {% for recome in recome_user %}
        <table class="recome_table" border="1">
            <tr>
                <th><img class="image_" src="https://i.imgur.com/wvxPV9S.png" height="60" width="60" />
                    <a href="{% url 'user_detail' pk=recome.id %}">{{ recome }}</a></th>
            </tr>
        </table>
        {% endfor %}
    </div>
    </div>
    <script>
        $(document).ready(function(event){
            $(document).on('click', '#like', function(event){
                let post_id = $(this).attr('name')
                event.preventDefault();
                console.log(post_id)
                
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like' %}",
                    data: {
                        'post_id': $(this).attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function(response){
                            selector2 = document.getElementsByName(response.post_id + "count");
                            $(selector2).text(response.like_count);
                        }
                    });
    
                // ここから追加されたコード
                // ここまで追加されたコード
    
            });
        });
    </script>
        {% endblock content %}
        </body>