{% extends 'base.html' %}
<body>
    {% block content %}
    {% for item in post_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p><a href="{% url 'user_detail' pk=item.user.id %}">{{ item.user.username }}</a></p>{% include 'follow.html' %}
          <h5 class="card-title">{{ item.categories }}</h5>
          <p class="card-text">{{ item.text }} {% include 'like.html' %}</p>
        </div>
      </div>
    {% endfor %}
    <input id="like" type="button" value="button" onclick="buttonClick()">
    <script>
        $(document).ready(function(event){
            $(document).on('click', '#like', function(event){
                let post_id = $(this).attr('name')
                event.preventDefault();
                console.log(post_id)
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like' %}" ,
                    data: {
                        'post_id': $(this).attr('name'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function(response){
                            selector2 = document.getElementsByName(response.post_id + "count");
                            $(selector2).text(response.like_count);
                        }
                    });
                });
            });
            </script>
        {% endblock content %}
        </body>