li{
    list-style:none;
    text-align: left;
}
.head_list{
    color: white;
    text-align: left;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    box-sizing: border-box;
}

.card{
    text-align: center;
}

.p-40 {
    padding: 100px, 300px, 100px, 300px;
}

.d-fle {
    display: revert;
}

.p-30 {
    padding-top: 5.5rem;
}

.mb-30 {
    margin-bottom: 1rem!important;
    margin-top: 1rem;
}
.mb-30-1 {
    margin-bottom: 1rem!important;
    margin-top: 4rem;
}

.card-header-create {
    padding: 1rem 2rem 2rem 4rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
}

.card-body-create {
    flex: 1 1 auto;
    padding: 4rem 3rem;
}

.mypage_p-4{
    padding: 1.5rem!important;
    margin-top: 50px;
}

.post_margin{
    margin-top:80px;
}

/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 5rem;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border-bottom-color: #28d;
}

.login-header {
  background: #4f01a8;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #4f01a8;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #2f0163;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #2f0163;
}

.user_update {
    margin-top: 5rem;
}

.auth-form-body {
  padding: 16px;
  font-size: 14px;
  background-color: #d0d7de;
  border: 1px solid var(--color-border-muted);
  border-top: 0;
  border-radius: 8px;
}

.auth-form {
  width: 340px;
  margin-top: 40px;
  margin:40px auto;
}

.px-3 {
  padding-right: var(--base-size-16, 16px) !important;
  padding-left: var(--base-size-16, 16px) !important;
}

.w-101 {
  width: 95px;
}

